# .gcloudignore (nella radice del monorepo)

# Ignora tutto di default
*

# Ma includi esplicitamente le sottocartelle che ci interessano per la build corrente
!azzurra-makeup-artist-backend/
!azzurra-makeup-artist-backend/**
!azzurra-makeup-artist-fe/
!azzurra-makeup-artist-fe/**

# Ignora i moduli di Node.js e le cartelle di build locali
node_modules/
dist/
.env
.git/
.gitignore